<section>
<div class="vh-100 dt w-100 tc bg-dark-gray black cover" style="background:url(https://res.cloudinary.com/kbellioum/image/upload/e_blur:300,o_70/v1490719884/IMG_0067_ps7h9n.jpg) no-repeat center;">

  <div class="v-mid">
    <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="https://www.kodusdb.com" title="Home">
      <img src="{{ site.logo }}" class="grow pa3 dib w10 h3" alt="Site Name">
    </a>
    <header class="black-80">

      <!-- <img src="https://res.cloudinary.com/kbellioum/image/upload/v1490721230/logo_gr0l2n.png" class="dib" alt="Kodus - logo"> -->
      <h2 class="f6 fw1 ttu tracked mb2 lh-title">Work in progress</h2>
      <!-- <h3 class="f6 fw1 lh-title">Bientôt sur la place.</h3> -->
    </header>
    <h1 class="f1 f-headline-l fw1 i black-80"><strong>KODUS</strong> <br> <small>Conseil en menuiserie aluminium</small> </h1>

    <div>
      <blockquote class="ph0 mh0 measure f4 lh-copy center">
        <p class="fw1 black-80 pa2">
          Conception d'ouvrages spéciaux.
        </p>
        <!-- <cite class="f6 ttu tracked fs-normal">Ahmed Berrada</cite> -->
      </blockquote>
    </div>

  </div>



</div>
</section>
