<section>
<div class="vh-100 dt w-100 tc bg-dark-gray black cover" style="background:url(http://res.cloudinary.com/kbellioum/image/upload/e_blur:1181,o_56/v1490644813/img8_cydie7.jpg) no-repeat center;">


  <div class="dtc v-mid">
    <header class="black-80">
      <h2 class="f6 fw1 ttu tracked mb2 lh-title">Bienvenue chez nous</h2>
      <h3 class="f6 fw1 lh-title">Bientôt sur la place.</h3>
    </header>
    <h1 class="f1 f-headline-l fw1 i black-80">KODUS Le Partenaire</h1>
    <blockquote class="ph0 mh0 measure f4 lh-copy center">
      <p class="fw1 black-80">
        C'est le décor qui fait la différence.
      </p>
      <cite class="f6 ttu tracked fs-normal">Ahmed Berrada</cite>
    </blockquote>
  </div>



</div>
</section>
