<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <!-- <link href="/assets/images/favicon.ico" type="image/x-icon" rel="shortcut icon"> -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.6.1/tachyons.min.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css"> -->
  <!-- <link href="{{ site.baseurl }}/assets/styles/main.css" rel="stylesheet"> -->
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.name }}{% endif %}</title>
  <meta name="description" content="">
</head>
